@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #3475ca;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.25;
  }

  .content {
    position: relative;
    max-width: 750px;
    text-align: center;

    h2 {
      color: #fff;
      font-size: 60px;
    }
    p {
      color: #fff;
      font-size: 18px;
    }
  }

  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    .logo {
      color: #fff;
      text-decoration: none;
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1px;
    }

    .toggle {
      position: relative;
      width: 36px;
      height: 28px;
      background: url(../images/toggle.png);
      background-size: cover;
      cursor: pointer;
    }
  }
}

.heading {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.text {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
}

// ! About
.about {
  position: relative;
  width: 100%;
  display: flex;

  .contentBx {
    background: #162c3b;
    padding: 100px;
    width: 50%;
  }

  .imgBx {
    background: url(../images/window.jpg);
    width: 50%;
    background-size: cover;
    background-position: center;
  }
}

// ! Services
.services {
  background: #12222d;
  padding: 100px;
  text-align: center;

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;

    .serviceBx {
      position: relative;
      background: #fff;
      width: 350px;
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-width: 100px;
      }

      h2 {
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 1px;
      }
    }
  }
}

// ! Technology
.technology {
  background: #3f8ffc;
  width: 100%;
  padding: 100px;
  padding-top: 300px;
  margin-top: -300px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .contentBx {
    max-width: 800px;
  }
  .imgBx {
    max-width: 250px;

    img {
      max-width: 100%;
    }
  }
}

// ! Clients

.client{
    background: #162c3b;
    padding: 100px;
    text-align: center;

    .imgBx{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 40px;

        img{
            max-width: 200px;
            margin: 20px;
            opacity: 0.25;
            cursor: pointer;
            transition: all 0.3s;

            &:hover{
                opacity: 1;
            }
        }
    }
}

//! testimonials
.testimonials{
    position: relative;
    padding: 100px;
    background: #12222d;
    text-align: center;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        flex-wrap: wrap;

        .contentBx{
            background: #fff;
            padding: 60px 50px;
            width: 550px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: left;

            p{
                font-style: italic;
            }

            h3{
                width: 100%;
                text-align: end;
                font-weight: 500;
                color: #3f8ffc;
            }
        }
    }
}