@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #3475ca;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.25;
  }

  .content {
    position: relative;
    max-width: 750px;
    text-align: center;

    h2 {
      color: #fff;
      font-size: 60px;
    }
    p {
      color: #fff;
      font-size: 18px;
    }
  }

  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    .logo {
      color: #fff;
      text-decoration: none;
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1px;
    }

    .toggle {
      position: relative;
      width: 36px;
      height: 28px;
      background: url(../images/toggle.png);
      background-size: cover;
      cursor: pointer;
    }
  }
}

.heading {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.text {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
}

// ! About
.about {
  position: relative;
  width: 100%;
  display: flex;

  .contentBx {
    background: #162c3b;
    padding: 100px;
    width: 50%;
  }

  .imgBx {
    background: url(../images/window.jpg);
    width: 50%;
    background-size: cover;
    background-position: center;
  }
}

// ! Services
.services {
  background: #12222d;
  padding: 100px;
  text-align: center;

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;

    .serviceBx {
      position: relative;
      background: #fff;
      width: 350px;
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-width: 100px;
      }

      h2 {
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 1px;
      }
    }
  }
}

// ! Technology
.technology {
  background: #3f8ffc;
  width: 100%;
  padding: 100px;
  padding-top: 300px;
  margin-top: -300px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .contentBx {
    max-width: 800px;
  }
  .imgBx {
    max-width: 250px;

    img {
      max-width: 100%;
    }
  }
}

// ! Clients

.client {
  background: #162c3b;
  padding: 100px;
  text-align: center;

  .imgBx {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;

    img {
      max-width: 200px;
      margin: 20px;
      opacity: 0.25;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        opacity: 1;
      }
    }
  }
}

//! testimonials
.testimonials {
  position: relative;
  padding: 100px;
  background: #12222d;
  text-align: center;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;

    .contentBx {
      background: #fff;
      padding: 60px 50px;
      width: 550px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: left;

      p {
        font-style: italic;
      }

      h3 {
        width: 100%;
        text-align: end;
        font-weight: 500;
        color: #3f8ffc;
      }
    }
  }
}

// ! Contact
.contact {
  padding: 100px;
  background: #162c3b;
  text-align: center;
}

.imgBx2 {
  background: url(../images/bg2.jpg);
  background-size: cover;
  background-position: center;
  width: 50%;
}

.redbg {
  background: url(../images/red.jpg) !important;
  background-size: cover;
  background-position: center;
}

.form {
  .inputBx {
    margin-bottom: 40px;
    input,
    textarea {
      width: 100%;
      background: transparent;
      box-shadow: none;
      border: none;
      outline: none;
      padding: 10px 0;
      font-size: 18px;
      font-weight: 300;
      color: #fff;
      border-bottom: 2px solid #fff;

      &::placeholder {
        color: #fff;
      }
    }

    input[type="submit"] {
      width: 150px;
      background: #fff;
      color: #111;
      cursor: pointer;
      font-weight: 400;
    }
  }
}

// !Footer
.footer {
  background: #162c3b;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      list-style: none;

      a {
        text-decoration: none;
        display: inline-block;
        margin: 0 10px;

        img {
          filter: invert(1);
          max-width: 20px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
    .banner{
        padding: 50px;
        header{
            padding: 20px 50px;
        }
        .content{
            h2{
                font-size: 36px;
            }
            p{
                font-size: 16px;
            }
        }
    }

    .about{
        flex-direction: column;

        .contentBx,.imgBx{
            width: 100%;
            padding: 50px;
            min-height: 400px;
            text-align: center;
        }
    }
}
